---
import Time from "./Time.astro";
import { Markdown } from "astro-remote";
import Avatar from "./Avatar.astro";
import CodeBlock from "./CodeBlock.astro";
import CodeSpan from "./CodeSpan.astro";

import Note from "./Note.astro";
import type { Post } from "../utils/data";
import Separator from "./Separator.astro";

const { post, isReshare } = Astro.props;
---

<article class="post" data-post-id={post.id} id={post.id}>
  <Avatar url={post.author.avatar_url} />
  <main>
    {isReshare && <div class="reshare-msg">Re-shared!</div>}
      <a class="author" href={`/sandbox/${post.author.handle}`}>
      <span class="name">{post.author.name}</span>
      <span class="details">
        <span class="username">@{post.author.handle}</span>
        <span class="separator"></span>
        <Time value={new Date(post.created_at)} />
      </span>
    </a>
    <div class="body">
      {post.content}
    </div>
  </main>
</article>

<style is:global>
  .post {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 3rem minmax(0, 1fr);
    gap: 0.75rem;
    padding: 0.75rem 1rem;
  }

  .reshare-msg {
    font-size: .8rem;
    color: #888;
  }

  .author {
    color: inherit;
    text-decoration: none;
  }
  .body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .name {
    font-weight: bold;
  }

  .details {
    color: var(--color-muted);
    display: inline-flex;
    align-items: center;
    gap: 0.33rem;
    font-size: 0.9rem;
  }

  .separator {
    display: inline-block;
    width: 0.125rem;
    height: 0.125rem;
    background: currentColor;
  }
</style>
